body {
    margin: 0;
    color: #212121;
    background-color: #FFFFFF;
    font-family: Roboto;
}

a {
    text-decoration: none;
   }

ul { list-style: none; }

.head-container {
    display: flex;
    background-color: #FFFFFF;
}

.head-container .logo-link {
    padding-bottom: 25px;
    padding-top: 24px;
    padding-left: 215px;
    padding-right: 93px;
}

nav {
    padding-top: 32px;
    padding-bottom: 32px;
}

.a1 {
    padding-left: 50px;
}

.a2 {
    padding-left: 50px;
}

.a3 {
    padding-left: 50px;
}

.contact {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 576px;
}

.logo-link {
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
color: #2196F3;
}

.accentlogo {
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;

color: #212121;
}

.main-container1 {
    display: flex;
    background-color: #2F303A;
    flex-direction: column;
}

.main-container1 h1 {
    padding-top: 200px;
    text-align: center;
}

.main-container2 {
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
    padding-left: 390px;
}

.div1 {
    padding-left: 60px;
}

.div2 {
    padding-left: 60px;
}

.div3 {
    padding-left: 60px;
}

.main-button {
    padding-bottom: 30px;
    padding-bottom: 200px;
    text-align: center;
}

.main-container3 {
    display: flex;
    flex-direction: column;
    padding-bottom: 94px;
}

.main-container3 h2 {
    text-align: center;
}

.main-container3 li {
    display: inline;
}

.li1 {
    padding-left: 325px;
}

.li2 {
    padding-left: 30px;
}

.li3 {
    padding-left: 30px;
}

.main-container4 {
    display: flex;
    background-color: #F5F4FA;
    flex-direction: column;
}

.main-container4 h2{
    padding-top: 54px;
    text-align: center;
}

.cards {
    display: inline;
    columns: 4;
    padding-bottom: 0px;
    padding-left: 375px;
    padding-bottom: 84px;
}

.li5 {
    margin-left: -94px;    
}

.li6 {
    margin-left: -189px;    
}

.li7 {
    margin-left: -283px;    
}

.cards h3 {
    margin-top: -85px;
}

.li4 h3{
    padding-left: 60px;
}

.li4 p{
    padding-left: 70px;
}

.li5 h3{
    padding-left: 81px;
}

.li5 p{
    padding-left: 62px;
}

.li6 h3{
    padding-left: 67px;
}

.li6 p{
    padding-left: 97px;
}

.li7 h3{
    padding-left: 68px;
}

.li7 p{
    padding-left: 92px;
}

.foot-container {
    background-color: #2F303A;
    padding-left: 215px;
    padding-top: 60px;
    padding-bottom: 60px;
}

footer .link-inline3 {
    margin-top: 9px;
}

footer .link-inline2 {
    margin-top: 9px;
}

.accentlogo2 {
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
color: #FFFFFF;
}

.link-inline {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
color: #212121;
}

.link-inline2 {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
color: #757575;
}

.link-inline3 {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #FFFFFF;
}


.link-inline:hover,
.link-inline:focus {
    color: #2196F3;
}

.link-inline2:hover,
.link-inline2:focus {
    color: #2196F3;
}

.link-inline3:hover,
.link-inline3:focus {
    color: #2196F3;
}

.main-logo {
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.4;
letter-spacing: 0.06em;
text-transform: uppercase;
text-align: left;
color: #FFFFFF;
}

.button1 {
    font-family: Roboto;
color: #FFFFFF;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 1.9;
cursor: pointer;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

width: 200px;
height: 50px;
border: none;
}

.button2 {
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
cursor: pointer;
background: #F5F4FA;
border-radius: 4px;
border: none;
}

.button2:hover,
.button2:focus {
    background: #2196F3;
}

.main-zag {
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}

.main-par {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: #757575;
}

.main-zag-2 {
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 1.2;
text-align: left;
letter-spacing: 0.03em;
color: #212121;
}

.name {
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.2;
text-align: left;
letter-spacing: 0.03em;
color: #212121;
}

.prof {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.2;
text-align: left;
letter-spacing: 0.03em;
color: #757575;
}

.name2 {
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121; 
}

.prof2 {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.03em;
color: #757575;
}